body {
  margin: 0;
  background-color: #242444;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#twobutton {
  margin: auto;
}
#twobutton .nav-item {
  margin: 5px;
}

#tools {
  margin-top: 0px;
}

#setbtns {
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: #30a2c4 3px solid;
  opacity: 0.8;
  cursor: pointer;
  font-size: 15px;
}

#setbtn {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#option {
  margin: 15px;
}

#checkboxes {
  border-bottom: #30a2c4 3px solid;
  opacity: 0.8;
}

.hiddenfp {
  display: none;
}

#index {
  text-align: center;
}

#mainFocus {
  background-color: #8d9fba;
  padding: 5px;
  height: 73vh;
  width: 100%;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#c {
  margin-left: 1vw;
  height: 70vh;
  width: 70vh;
  float: left;
}

#info {
  color: white;
  font-weight: bold;
  margin-left: 1vw;
  margin-bottom: 1vh;
  background-color: #242444;
  float: left;
  height: 100%;
  width: 20vw;
  overflow: auto;
  text-align: left;
  padding: 5px;
}
#editormenu {
  padding: 5px;
  color: white;
  margin-left: 1vw;
  background-color: #242444;
  float: left;
  height: 100%;
  width: 20vw;
  overflow: auto;
  text-align: left;
}

#dropdown {
  text-align: center;
  border-bottom: #30a2c4 3px solid;
  opacity: 0.8;
}

#dropdown1 {
  text-align: center;
  justify-content: center;
  text-decoration: none;
  margin: 5px;
}

button {
  color:white;
  line-height: 30px;
  font-weight: bold;
  background: #0c8be0;
  justify-content: center;
  text-align: center;
}

button:hover {
  background: #20e0b6;
}

#dropdownfloors {
  cursor: pointer;
}
